[Unit]
Description=gowebserver
ConditionPathExists=/home/ubuntu/go_webserver/bin/go_webserver
After=network.target
[Service]
Type=simple
User=gowebserver
Group=gowebserver
WorkingDirectory=/home/ubuntu/go_webserver
ExecStart=./bin/go_webserver
Restart=on-failure
RestartSec=10
StandardOutput=append:/home/ubuntu/go_webserver.log
StandardError=append:/home/ubuntu/go_webserver.error.log
SyslogIdentifier=gowebserver
[Install]
WantedBy=multi-user.target
