[Unit]
Description=gowebserver
ConditionPathExists=/home/ubuntu/go_webserver/go_webserver
After=network.target
[Service]
Type=simple
User=gowebserver
Group=gowebserver
WorkingDirectory=/home/lucian/myapp
ExecStart=/usr/local/go/bin/go run .
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gowebserver
[Install]
WantedBy=multi-user.target
