[Unit]
Description=gowebserver
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/go_webserver
EnvironmentFile=/home/ubuntu/.config/go_webserver/env
ExecStart=/home/ubuntu/go_webserver/bin/go_webserver
Restart=always
RestartSec=1
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
