package views

templ MarkdownPage(content templ.Component) {
  <!DOCTYPE html>
  <html>
  <head>
    <title>Markdown Viewer</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="content">
      @content
    </div>
  </body>
  </html>
}
