package layout

templ Root(args RootArgs) {
	<!DOCTYPE html>
	<html lang="en">
		@Head(args)
		<body class="min-h-screen bg-background font-sans antialiased flex flex-col" data-signals="{theme: initTheme()}">
			@Header()
			<main class="flex-1">
				{ children... }
			</main>
			@Footer()
		</body>
	</html>
}

templ Default(title string) {
	@Root(RootArgs{Title: title}) {
		{ children... }
	}
}
